*{
	margin:0px;
	padding:0px;
	box-sizing;border-box;
}
.box{
	width:200px;
	background:#ffd323;
	margin:15px;
	display:inline-block;
	padding:15px;
	
	}
.box2{
	width:200px;
	background: #ffd323;
	margin:15px;
	display:inline-block;
	padding:15px;
	}
.box3{
	width:200px;
	background:#ffd323;
	margin:15px;
	display:inline-block;
	padding:15px;
}
.row{
	display: flex;
}
.container {
	width:80%;
	border:1px solid green;
	margin: auto;
	height:400px;
}
.image-container{
	width:90%;
	border:1px solid red;
	margin: auto;
}
.col-1{
	flex-basis: 40%;
	border:1px solid red;
}
.col-1 img{
	width:100%;
}
.col-2{
	flex-basis: 60%;
	border:1px solid red;
}
.footer-section{
	width:80%;
	margin:auto;
}
.footer-row{
	display: flex;
}
.footer-col-1{
	flex-basis:52%;
	padding: 15px;
	
}
.footer-col-2{
	flex-basis:16%;
	padding:15px;
	
}
.footer-col-3{
	flex-basis:16%;
	padding:15px;
	
}
.box-row{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	height: 400px;
}

		
